body {
    background-color: #fffefc;      /* "porcelain white" */
    color: #28231D;     /* "charcoal black" */
    margin: 15px;
    
}

#title {
    font-size: 30pt;
    text-align: center;
    margin:auto;
}

#subtitle {
    font-size: 20pt;
    text-align: center;
}

#directory {
    box-sizing: content-box;
    text-align: left;
    margin: auto;
    width: 50%;
}

#description {
    text-align: center;
    width: 50%;
    margin: auto;
    border-style: dotted;
    border-radius: 15px;
    padding: 1px;
    border-color: #a67b5b;     /* "cafe au lait" */
}

.disclaimer {
    font-size: small;
    margin-right: 5px;
    margin-left: 5px;
}

/* Coloring the diving line */
hr {                    
    color: #28231D;     
}

a:link {
    color: #4e0707      /* "wine" */
}

a:visited {
    color: #541e1b      /* "merlot" */
}

footer {
    text-align: center;
}

code {
    color: #a67b5b;     /* "cafe au lait" */
}